.header
{
  display: flex;
  
  padding: 10px 0 0 0;
  
}
input
{
  width: 500px;
  padding: 10px;
  height: 20px;
  font-size: 20px;
  border-radius: 100px 10px 10px;
  box-shadow: 10px 5px 10px black;
  margin-left: 40PX;
}
.navbutton
{
  background-color: cornflowerblue;
  color: white;
  width:150px;
  height: 45px;
  border-radius: 10px 10px 100px;
  margin-left: 15px;
  margin-right: 20px;
  font-size: 20px;
}
.banner
    {
      border: 1px solid black;
      margin-top: 20px;
      height: 400px;
    }